@model zabawa_z_gitem.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="form-login">
                <h2>Zaloguj</h2>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {ReturnUrl = ViewBag.ReturnUrl}))
                {
                    @Html.AntiForgeryToken()
                    ;
                    @Html.ValidationMessage("loginerror", "")
                    ;

                    @Html.TextBoxFor(i => i.Email, new {@class = "form-control input-sm chat-input", placeholder = "Email"})
                    @Html.ValidationMessageFor(i => i.Email)
                    <br>
                    @Html.PasswordFor(i => i.Password, new {@class = "form-control input-sm chat-input", placeholder = "Password"})
                    @Html.ValidationMessageFor(i => i.Password)
                    <br>
                    @Html.CheckBoxFor(i => i.RememberMe, new {@checked = "checked"})
                    @Html.LabelFor(i => i.RememberMe)
                    <br>

                    <button type="submit" class="btn btn-primary btn-lg">Login <i class="fa fa-sign-in"></i></button>
                        
                }
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

<script src="~/scripts/jquery-1.9.1.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.js"></script>