@using System.Web.Script.Services
@model  IEnumerable<zabawa_z_gitem.Models.TextFile>

@{
    ViewBag.Title = "title";
    
}

<div class="container">
    <h2>Pliki</h2>
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            <input type="file" name="file" />
            <input type="submit" value="Upload" />
        }
    }
    else
    {
        
        <input type="file" name="file" disabled/>
        <input type="submit" value="Upload" disabled/>
    }
    <p>Zaloguj sie !</p>
    @if (Model!=null)
    {
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Rozszerzenie</th>
                <th>Data dodania</th>
                <th>Rozmiar</th>
                <th>Usuń</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var file in Model)
            {
                <tr class=@file.TextFileId>
                    <td>@file.Name</td>
                    <td><img src="~/Icons/@file.Type.IconFileName" alt="@file.Type.IconFileName" width="20px" height="20px"/></td>
                    <td>@file.AddedDateTime</td>
                    <td>@file.Size B</td>
                    <td><a class="RemoveFile" data-id=@file.TextFileId href="#">usuń</a></td>
                    
                </tr>
            }

            </tbody>
        </table>
    }
    else
    {
        <div style="text-align: center;">Brak plikow, smutno :( </div>
    }

</div>

    <script>
        $(function() {
            $(".RemoveFile").click(function () {
                var recordToDelete = $(this).attr("data-id");
                
                //wyzyła zapytanie POST do akcji removefile i oczekuje odpowiedzi z jsonem, ktora da nam od czy dany plik zostal usuniety
                $.post("RemoveFile", { "fileId": recordToDelete }, function (response) {
                    if (response.Removed) {
                        $("tr."+recordToDelete).fadeOut("slow");
                    }
                });
            });
        });
    </script>
    
